#main-container > div > div > div > div.col-md-3 > nav > ul > li {
    margin: 0 0 4px 0;
}

#main-container > div > div > div > div.col-md-3 > nav {
    min-height: 100vh;
    margin-bottom: 0;
    max-width: 320px;
}

#main-container > div > div > div > div.col-md-3 {
    max-height: 100vh;
    max-width: 320px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

li {
    margin: 0 15px 0 0;

}

.nav.navbar-nav {
    padding-top: 5px;

}

a.active {
    color: #ee6e73;
    background-color: transparent;
}

nav.navbar.navbar-inverse > .nav.navbar-nav > li > a.active {
    color: #ee6e73;
    background-color: transparent;
}

.nav-icon {
    font-size: x-large;
}

.nav-text {
    padding-left: 5px;
}

.main-content {
    padding-top: 15px;
}

.validate.valid {
    font-size: 2rem;
}

.row.container-row {
    margin-bottom: 0;

}

.container.main-content {
    padding-top: 10%;
    padding-right: 40px;
    /*margin-right: 0; */
}

.input-field label:not(.label-icon).active {
    font-size: 1.3rem;
}

input[type=text].validate, input[type=text] {
    font-size: 2rem;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.caret {
    border-top: 0px solid !important;

}

html, body {
    width: 100% !important;
    height: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
    overflow-x: hidden !important;
}

.logo-title {
    padding-left: 5%;
}

.btn-floating i {
    width: inherit;
    display: inline-block;
    text-align: center;
    color: #fff;
    padding-bottom: 10px;
    font-size: 4rem;
    margin-top: 0;
    margin-left: -15px;
}

.btn, .btn-floating {
    border-radius: 50%;
}

.youtube-dl-collapsible.collapsible.popout {
    max-height: 60vh;
    overflow-y: auto;
}

.collapsible {
    max-height: 70vh;
    overflow-y: auto;
}

.btn-floating.btn-large {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.btn-floating.btn-large i {
    line-height: 40px !important;
}

.btn-floating i {
    font-size: 4rem !important;
}

/* MATERIAL DESIGN COMPONENT CSS */
.card {
    background: #fff;
    border-radius: 2px;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card-1:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.youtube-dl-seeting-input {
    padding-top: 5px !important;
}

.floating-menu {
    position: absolute;
    right: 8px;
    bottom: 8px;
    height: 42px;
    text-align: right;
    /*transition: height 250ms ease-in-out;*/
}

.floating-menu.open {
    height: 150px;
    overflow: hidden;
}

.floating-menu.open .floating-menu-item {
    margin-top: 8px;
}

.floating-menu-item label {
    display: inline-block;
    margin-right: 8px;
    padding: 4px 10px;
    border-radius: 12px;
    background: rgba(0, 0, 0, .25);
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

.floating-menu.open .floating-menu-item label {
    opacity: 0.4;
}

.floating-menu-icon {
    display: inline-block;
    width: 42px;
    height: 42px;
    line-height: 42px;
    vertical-align: middle;
    background: #e53935;
    border-radius: 50%;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    text-align: center;
}

div.floating-menu-item.floating-menu-main {
    position: fixed;
    right: 25px;
    bottom: 25px;
}

.floating-menu-icon .material-icons {
    font-size: 32px;
    color: #fff;
    vertical-align: middle;
}

.modal-input {
    width: 80% !important;
}

.col.input-field {
    width: 100% !important;
}

.media-heading.download-filename {
    /* line-height: 1.0; */
    max-height: 3.5rem;
    overflow: hidden;
}

#liquid-dl {
    max-width: 100%;
}

@media only screen and (max-width: 1020px) {
    #main-container > div > div > div > div.col-md-3 > nav {
        min-height: min-content !important;
        margin-bottom: 0;
    }

    nav.navbar.navbar-inverse {
        min-height: min-content;
    }
}

