{% extends 'base.html' %}

{% load static %}

{% block body %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <style>body {
        background: #263238;
    }

    svg {
        width: 30vw;
        height: 30vw;
        margin: -100px auto;
        display: table;
    }</style>
    <div class="container" style="text-align: center">
        <h3 style="color: white">Liquid-dl</h3>
        <h5 style="color: white">Adults Only</h5>
    </div>
    <p align="center">
        <img width="205" height="252" src="{% static 'img/icons/liquid.png' %}">
    </p>

    <div class="container">
        <div class="form">
            <form action="{% url 'login' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group" style="color: white">
                    {{ form.username.label }}
                    {{ form.username }}
                    <span class="separator"> </span>
                </div>
                <div class="form-group" style="color: white">
                    {{ form.password.label }}
                    {{ form.password }}
                    <span class="separator"> </span>
                </div>

                <div class="form-bottom">
                    <div class="row">
                        <div class="">
                            <button class="waves-effect waves-light btn">Login
                            </button>
                        </div>
                    </div>
                    <div class="text-center help-text" style="color: white">
                        {{ form.username.errors }}
                        {{ form.password.errors }}

                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}